.group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 27px;
}

.group > input {
    margin: 0.3vh 100% 2.5vh;
    text-align: center;
    font-size: 20px;
}

.group > input:focus {
    border-bottom: 10px black solid;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.cancel{
        width: 8vw;
        border: 0px;
        height: 6vh;
        background: linear-gradient(270deg, rgb(238, 32, 32), rgb(201, 15, 8));
        border-radius: 9px;
        box-shadow: 0px 1px 2px 0px black;
        cursor: pointer;
}

.cancel:hover, .save:hover{
    box-shadow: none;
}


.save{
        width: 8vw;
        border: 0px;
        height: 6vh;
        background: linear-gradient(270deg, rgb(49, 116, 49), rgb(0, 243, 0));
        border-radius: 9px;
        box-shadow: 0px 1px 1.5px 0px black;
        cursor: pointer;
}

.h1 {
    text-align: center;
    margin-bottom: 40px;
}

@media (max-width: 680px) {
    .save, .cancel {
        width: 18vw;
        padding: 4px;
    }

    .group > input:focus {
        border-bottom: 10px black solid;
        outline: black 2px;
    }
}