.h1 {
    text-align: center;
    padding: 0px;
    margin: 2px 0px 20px 0px;
}

.rs{
    font-size: large;
    font-family: sans-serif;
}

.finalValue{
    background-color: red;
}


.maxValue {
    -moz-appearance: textfield;
   appearance: textfield;
   width: 9vw;
   border: solid  1px;
   margin-left: 3px;
   height: 3vh;
   background-color: rgb(238, 236, 236);
   border-radius: 4px;
}

.maxValue:focus {
    outline: 0px;
    background-color: white;
}

.newItem{
    width: 8vw;
    border: 0px;
    height: 6vh;
    background: linear-gradient(270deg, rgb(49, 116, 49), rgb(0, 243, 0));
    border-radius: 9px;
    box-shadow: 0px 1px 1.5px 0px black;
    cursor: pointer;
}

